@import "tailwindcss";

:root {
  --background: #EF8783;
    --inactive: #bf9994;
    --foreground-tint: #8C6E6A;
    --foreground: #171717;
    --accent: #ededed;
    --link: #ffca44;


    --category-accesaory: #ff7a7f;
    --category-shader: #7a9dff;
    --category-tool: #95ff91;
    --category-cloth: #ffff4e;
    --category-goods: rgb(255, 196, 87);
}
@theme inline {
  --color-background: var(--background);
  --color-background-gradient: var(--background-gradient);
  --color-background-tint: var(--background-tint);
  --color-accent: var(--accent);
  --color-inactive: var(--inactive);
  --color-foreground: var(--foreground);
  --color-foreground-tint: var(--foreground-tint);
  --color-link: var(--link);


  --color-category-accesaory: var(--category-accesaory);
  --color-category-shader: var(--category-shader);
  --color-category-goods: var(--category-goods);
  --color-category-tool: var(--category-tool);
  --color-category-cloth: var(--category-cloth);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4a2e32;
    --background-tint: #ffa49a;
    --background-gradient: #78332e;
    --inactive: #ecccc7;
    --foreground: #2b2120;
    --foreground-tint:  #86635f;
    --accent: #ededed;
    --link: #ffca44;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 1lvh;
}
body > * {
  overflow: hidden; 
}

*::-webkit-scrollbar{
  width: 12px;
  background-color: var(--foreground-tint);
}
*::-webkit-scrollbar-thumb{
  background-color: var(--accent);
}

.bg-background::selection{
    color: var(--background);
    background-color: var(--foreground);
}
.bg-foreground::selection{
    color: var(--accent);
    background-color: var(--background);
}

.typewriter::after{
  content: '_';
  position: absolute;
  animation: 1.2s typewriter_blink infinite alternate;
}

.dot, .bar{
  height: 100%;
  background-color: var(--accent);
}
.dot{
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.bar{
  aspect-ratio: 1/6;
  border-radius: 10%;
}

@keyframes typewriter_blink{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.command-foreground > img, .command-foreground{
  filter: brightness(0) saturate(100%) invert(6%) sepia(11%) saturate(2094%) hue-rotate(322deg) brightness(89%) contrast(81%);
}
.command-accent > img, .command-accent{
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5486%) hue-rotate(316deg) brightness(129%) contrast(86%);
}
.command-link > img, .command-link{
  filter: brightness(0) saturate(100%) invert(73%) sepia(84%) saturate(405%) hue-rotate(342deg) brightness(103%) contrast(101%);;
}

@keyframes gauge_increment{
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}

@keyframes gauge_knob_move{
  0%{
    left: 0;
  }
  100%{
    left: 100%;
  }
}

::view-transition-new(player){
  animation: player_show 1s ease-in-out;
}

::view-transition-old(player){
  animation: player_hide 1s ease-in-out;
}

@keyframes player_show{
  0%{
    right: 0;
    transform: translateX(100%);
  }
  100%{
    right: 24px;
    transform: translateX(0);
  }
}

@keyframes player_hide{
  0%{
    right: 24px;
    transform: translateX(0);
  }
  100%{
    right: 0;
    transform: translateX(100%);
  }
}



.bg-category-accessaory{
  background: var(--category-accesaory);
}
.bg-category-cloth{
  background: var(--category-cloth);
}
.bg-category-shader{
  background: var(--category-shader);
}
.bg-category-goods{
  background: var(--category-goods);
}
.bg-category-tool{
  background: var(--category-tool);
}