.minikoron{
    $bounce-delay: 0.24s;
    $bounce-duration: 1s;
    $hide-delay: $bounce-delay + $bounce-duration - 0.04s;
    $hide-duration: 1.4s;

    &-second{
        visibility: hidden;
        opacity: 0;
        &.minikoron-hide{
            animation: minikoron-fadeout $hide-duration $hide-delay forwards ease-in-out;
        }
    }
    &.minikoron-hide{
        animation: minikoron-bounce $bounce-duration $bounce-delay forwards ease-in-out;
    }


    @keyframes minikoron-bounce {
        0%{
            transform: translateY(0);
        }
        20%{
            transform: translateY(-30px);
        }

        40%{
            transform: translateY(0);
        }
        99%{
            visibility: visible;
            opacity: 1;
        }
        100%{
            visibility: hidden;
            opacity: 0;
        }
    }

    @keyframes minikoron-fadeout {
        0%{
            visibility: visible;
            opacity: 1;
        }
        50%{
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
        }
        99%{
            visibility: visible;
            opacity: 1;
            transform: translateY(100%);

        }
        100%{
            visibility: hidden;
            opacity: 0;
        }
    }
}